 .rate{
    display: inline-flex;  
 }
 .rate-color{
    color: rgba(119,20,137,.7)  
 }
 .submit-color{
    background-color: rgba(119,20,137,.7)
 }
 .submit-color:hover{
    background-color:rgba(137, 95, 145, 0.7);
     }
.rate-text:hover{
    background-color:rgba(137, 95, 145, 0.7);
    cursor: pointer;
}

