 .rate{
    display: inline-flex;  
 }
 .rate-color{
    color: rgba(119,20,137,.7)  
 }
 .submit-color{
    background-color: rgba(119,20,137,.7)
 }
 .submit-color:hover{
    background-color:rgba(137, 95, 145, 0.7);
     }
.rate-text{
        font-size: 14px;
        font-family: "Lato", sans-serif;
        background-color: rgba(119, 20, 137, 0.7);
        border-color: rgba(119, 20, 137, 0.7);
        color: rgba(255, 255, 255, 1);
        fill: rgba(255, 255, 255, 1);
        border-radius: 7px;
        font-weight: 600;
        text-align: left;
        text-decoration: none;
        padding-left: 7px;
        padding-right: 10px;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
      
}
.rate-text:hover{
    background-color:rgba(137, 95, 145, 0.7);
    cursor: pointer;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
