.c-google {
  font-size: 50px;
  background: #df4930;
  width: 75px;
  height: 75px;
  color: white;
  margin-left: 50px;
  border-radius: 70px;
}
.c-facebook {
  background: #507cc0;
  width: 70px;
  height: 70px;
  color: white;
  font-size: 50px;
  margin: 10px 0 0 15px;

}
.c-facebook:hover {
  opacity: 0.8;
}
.c-google:hover {
  opacity: 0.8;
}

